<!-- carregando os staticfiles -->
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta charset="utf-8">
    <title>PetShop - {% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
